* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    margin: 0px;
    padding: 0px;
    background-color: #DBC493;

}



.header {
    display: flex;
    padding: 30px;
    background-color: #33383b;
    height: 40px;
}

.contenedorLogo img {

    width: 100px;
    margin: 0px 15px;
}
/* menu estilos  */


.menu {
    background-color: #33383b;
    display: flex;
    height: 60px;

}

nav ul li {
    display: inline-block;
    padding: auto;

}

nav ul li:hover {
    background-color: grey;

}

nav ul li a {
    color: #DED1BF;
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #242323;
    background-color: #DBC493;
    transform: scale(0,1.0,1);



}

nav {
    display: flex;
    
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-decoration: none;

}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;

}

.barra {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista {
justify-content: flex-end;
width: 100%;

}

.servicios h2 {
    display: flex;
    font-size: 20px;
    height: 60px;
    border: 1px solid #A88C6F;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #A88C6F;
    
}

/* ver si va */



p {
    color:#2F2516;
    font-size: 18px;
  
}

h1 {
    color:#DBC493;
    background-color:#33383b;
    font-size: 20px;
    ;
}
.servicios img {
    height: 250px;
    width: 430px;
    padding: 20px;
    
}
 a:link {
    color: #242323
}


   

body {
    background-color:#DBC493 ;

}



ul {
    list-style-type: none;
    padding: 0px;
    margin:0px;
}

ul li {
    display: inline-block;
    ;
  
}

li a {
    color:antiquewhite;
    padding: 10px;
    display: block;
    text-decoration: none;
    transform: scale(1.1);
   
}



/* estilos footer  */



.contenedorLogoFooter img {
    width: 100px;

}

.footerGeneral {
    display: flex;
    background: #242323;
    padding: 30px;
    margin: 0;
    justify-content: space-between;
    align-items: center;

}

.footerMenu {
    margin: 20px 0 12px;
    padding: 0;
}

.footerMenu a {
    text-decoration: none;
    color: #DED1BF;
}

.footerMenu a:before {
    content: "|";
    font-size: 20px;
    padding-right: 5px;
}

.informacion {
    display: flex;
    flex-direction: column;



}

.informacion i {
    display: flex;
    color: white;
    font-size: 25px;

}

.informacion p {
    display: flex;
    color: #DED1BF;
    padding: 10px 10px 10px;



}

.direccion {

    display: flex;
    align-items: center;




}

.telefono {

    display: flex;
    align-items: center;
    justify-content: left;


}



.email {

    display: flex;
    align-items: center;
    justify-content: left;



}


.informacion p a {
    color: #DBC493;
    text-decoration: none;

}


.derechos {
    width: 20%;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    margin: 0;
    padding: 5px;
}


.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.socialMedia a {
    width: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    margin-top: 10px;
}